<div class="container-fluid">

  <button class="btn btn-info" (click)="openModal('custom-modal-1')"><i class="bi bi-plus-circle"></i> Add</button>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Hostname</th>
        <th scope="col">Username</th>
        <th scope="col">View</th>
        <th scop="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of hosts">
        <tr>
          <td>{{item.hostname }}</td>
          <td>{{item.username}}</td>
          <td>
            <button class="btn btn-outline-info m-1" (click)="openHost(item)"><i class="bi bi-gear"></i> </button>

          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteHost(item)">
              <i class="bi bi-trash"></i>
              </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

</div>

<jw-modal id="custom-modal-1">
  <div class="max-w-2xl container mx-auto pt-5">
    <h1>Host add</h1>
    <div>
      <div [formGroup]="hostControl">

        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="nameInitFile">Hostname</span>
          </div>
          <input type="text" name="nameInitFile" aria-label="Small" aria-describedby="nameInitFile"
            formControlName="hostname" />
        </div>

        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="Username">Username</span>
          </div>
          <input type="text" name="Username" aria-label="Small" aria-describedby="Username"
            formControlName="username" />
        </div>

        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="Password">Password</span>
          </div>
          <input type="text" name="Password" aria-label="Small" aria-describedby="Password"
            formControlName="password" />
        </div>
<!-- 
        <div class="md-form mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="PrivateKey">Private key</span>
          </div>
          <textarea type="text" name="PrivateKey" aria-label="Small" class="md-textarea form-control"
            aria-describedby="Password" formControlName="private_key"></textarea>
        </div> -->


      </div>

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-info" (click)="addHost()" [disabled]="!hostControl.valid">Add host</button> <BR>
        </div>
      </div>

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-info" (click)="testConnection(hostControl.value)" [disabled]="!hostControl.valid">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-dash-fill" viewBox="0 0 16 16">
              <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47L15.964.686Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
              <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-5.5 0a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5Z"/>
            </svg>
            Test connection</button> <BR>
        </div>
      </div>

    </div>

    <button class="btn btn-secondary" (click)="closeModal('custom-modal-1');">Close</button> <BR>

  </div>
</jw-modal>

<jw-modal id="custom-modal-2">
  <div class="container mx-auto pt-5">
    <h1>Host view</h1>
    <div [formGroup]="hostViewControl">

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="nameInitFile">Hostname</span>
        </div>
        <input type="text" name="nameInitFile" aria-label="Small" aria-describedby="nameInitFile"
          formControlName="hostname" [readOnly]="true" />
      </div>

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="Username">Username</span>
        </div>
        <input type="text" name="Username" aria-label="Small" aria-describedby="Username" formControlName="username"
          [readOnly]="true" />
      </div>

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="Password">Password</span>
        </div>
        <input type="text" name="Password" aria-label="Small" aria-describedby="Password" formControlName="password"
          [readOnly]="true" />
      </div>

      <!-- <div class="md-form mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="PrivateKey">Private key</span>
        </div>
        <textarea type="text" name="PrivateKey" aria-label="Small" class="md-textarea form-control"
          aria-describedby="Password" formControlName="private_key" [readOnly]="true"></textarea>
      </div> -->


      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-info" (click)="testConnection(hostViewControl.value)"
            [disabled]="!hostViewControl.valid">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-dash-fill" viewBox="0 0 16 16">
              <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47L15.964.686Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
              <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-5.5 0a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5Z"/>
            </svg>
             Test connection</button> <BR>
        </div>
      </div>

    </div>

    <button class="btn btn-secondary" (click)="closeModal('custom-modal-2');">Close</button> <BR>

  </div>
</jw-modal>