<div class="max-w-2xl container mx-auto pt-5">

  <h1 class="font-bload text-center">Please, sign in</h1>

  <div class="justify-content-center" style="
  padding-left: 25%;
  padding-right: 25%;
">
      <!-- <h1>InitFile add</h1> -->
      <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input [formControl]="usernameFild" type="email" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input [formControl]="passwordFild" type="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Password</label>
        </div>
        </form>

        <button type="button" class="btn btn-primary w-100 mb-4" (click)="Login()">Sign in</button>


  </div>

</div>
