<div class="max-w-2xl container mx-auto pt-5">


    <div class="row md-2">
        <div *ngIf="treeView != null" class="col-md-3">
            <button class="btn btn-success" (click)="openModal('custom-modal-2')">add file</button>
            <button class="btn btn-primary" (click)="loadZip()">Load result</button>
            <p>Path: {{currentContextPath.toArray().reverse().join('/')}}</p>
            <button *ngIf="currentContextPath.toArray().length > 0" (click)="backDir()"
                class="btn btn-primary">back</button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Namefile</th>
                        <th scope="col">Type</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of treeViewChildStack.head">
                        <tr>
                            <td *ngIf="item.type == 'directory'">
                                <a (click)="openDir(item.name)" class="link-secondary"
                                    style="cursor: pointer">{{item.name}}</a>
                            </td>
                            <td *ngIf="item.type == 'file'">
                                <a (click)="openFile(item.name)" class="link-info"
                                    style="cursor: pointer">{{item.name}}</a>
                            </td>
                            <td>{{item.type}}</td>
                            <td>
                                <button class="btn btn-danger" (click)="deleteFile(item.name)">Delete</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>



        <div class="col" *ngIf="fileControl != undefined && aiControl != undefined">
            <div [formGroup]="fileControl">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="Filename">Filename</span>
                    </div>
                    <input type="text" name="Filename" aria-label="Small" aria-describedby="nameInitFile"
                        formControlName="nameFile" [readOnly]="true" />
                </div>
                <!-- <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="content">Content</span>
                    </div>
                    <input type="text" name="content" aria-label="Small" aria-describedby="nameInitFile"
                        formControlName="content" [readOnly]="true" />
                </div> -->

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="updateFile">Save file</span>
                    </div>
                    <button class="btn btn-success" (click)="saveFile()">Save file</button>
                </div>

                <editor id="editor" [fileControl]="fileControl" style="height: 80%;" [sizeEditor]="900">
            </editor>

                <div class="m-3">
                    <button class="btn btn-info" (click)="sendContextAndText()">Help</button>
                </div>
                <div class="mb-3">
                    <editor id="editor" [fileControl]="aiControl" style="height: 10%;" [sizeEditor]="100"></editor>
                </div>

                <h4>Output</h4>
                <div *ngIf="loadAi">
                    Loading...
                </div>
                <span *ngIf="!loadAi" style="white-space: pre-line">{{outputAi}}</span>
            </div>
        </div>
    </div>
</div>


<jw-modal id="custom-modal-2">
    <div class="max-w-2xl container mx-auto pt-5" [formGroup]="fileCreateControl">
        <h1>Create file</h1>

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="Filename">Filename</span>
            </div>
            <input type="text" name="Filename" aria-label="Small" aria-describedby="nameInitFile"
                formControlName="nameFile" />
        </div>

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="Type">Type</span>
            </div>
            <select formControlName="typeFile">
                <option>file</option>
                <option>directory</option>
            </select>

        </div>

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-primary" (click)="createFile()">Create file</button>
            </div>
        </div>


        <button class="btn btn-secondary" (click)="closeModal('custom-modal-2')">Close</button>

    </div>
</jw-modal>