<div class="max-w-2xl container mx-auto pt-5">


    <div class="row md-2">
        <div *ngIf="treeView != null" class="col-md-3">
            <button>add file</button>
            <p>Path: {{currentContextPath.toArray().reverse().join('/')}}</p>
            <button *ngIf="currentContextPath.toArray().length > 0" (click)="backDir()"
                class="btn btn-primary">back</button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Namefile</th>
                        <th scope="col">Type</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of treeViewChildStack.head">
                        <tr>
                            <td *ngIf="item.type == 'directory'">
                                <a (click)="openDir(item.name)" class="link-secondary"
                                    style="cursor: pointer">{{item.name}}</a>
                            </td>
                            <td *ngIf="item.type == 'file'">
                                <a (click)="openFile(item.name)" class="link-info"
                                    style="cursor: pointer">{{item.name}}</a>
                            </td>
                            <td>{{item.type}}</td>
                            <td>


                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>



        <div class="col" *ngIf="fileControl != undefined">
            <div [formGroup]="fileControl">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="Filename">Filename</span>
                    </div>
                    <input type="text" name="Filename" aria-label="Small" aria-describedby="nameInitFile"
                        formControlName="nameFile" [readOnly]="true" />
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="contnet">Content</span>
                    </div>
                    <input type="text" name="contnet" aria-label="Small" aria-describedby="nameInitFile"
                        formControlName="contnet" [readOnly]="true" />
                </div>

                <editor id="editor" >

                </editor>


            </div>
        </div>
    </div>
</div>