<nav class="navbar navbar-expand-md navbar-light bg-white">
  <div class="container-fluid">
    <!-- <button class="navbar-toggler" type="button" aria-controls="jumbotronExample" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars">Test</i>
    </button> -->
    <a class="navbar-brand" href="#">Cluster manager</a>
    <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item active">
          <a class="nav-link" aria-current="page" routerLink="/">Welcome</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/initfile">initfile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cluster">Cluster</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hosts">Hosts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="proc_status"> Proc status</a>
        </li>
      </ul>
      <form class="form-inline">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="btn btn-outline-info my-2 my-sm-0r" href="/login">Login</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
