<div class=" border  container-fluid">
    <div class="row md-2">
        <div class="col-md-3">
            <button class="btn btn-info" (click)="openModal('custom-modal-1')">Create cluster</button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of cluseters">
                        <tr>
                            <td>{{item.name }}</td>
                            <td>{{item.description}}</td>
                            <td>
                                <button class="btn btn-info" (click)="openCluster(item)">Open</button>
                                <button class="btn btn-danger" (click)="deleteCluster(item.name)">Delete</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div class="col">
            <div *ngIf="clusterObject != null" class="row">
                <h1>{{clusterObject.name}}</h1>
                <h2>{{clusterObject.description}}</h2>
                <div class="col-md-3">
                    <div class="m-2" (click)="radioButton('addHostWindows')"> <button class="btn btn-secondary">
                            <h3>Add host</h3>
                        </button>
                    </div>
                    <div class="m-2">
                        <button (click)="radioButton('editConfig')" class="btn btn-secondary">
                            <h3>Edit config</h3>
                        </button>
                    </div>
                    <div class="m-2">
                        <button (click)="radioButton('runaction')" class="btn btn-secondary">
                            <h3>Run action</h3>
                        </button>
                    </div>
                    <div class="m-2">
                        <button (click)="radioButton('main')" class="btn btn-secondary" class="btn btn-secondary">
                            <h3>Main</h3>
                        </button>
                    </div>
                </div>
                <div class="col">
                    <div *ngIf="addHostWindows">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend col-3">
                                <span class="input-group-text col-12" id="service">Service</span>
                            </div>
                            <select class="custom-select form-control" id="service" [formControl]="serviceForm">
                                <ng-container *ngFor="let item of clusterObject.data">
                                    <option value="{{item.extid}}">{{item.name}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div class="input-group input-group-sm mb-3" *ngIf="service != null">
                            <div class="input-group-prepend col-3">
                                <span class="input-group-text col-12" id="grouphost">Group</span>
                            </div>
                            <select class="custom-select form-control" id="grouphost" [formControl]="groupTragetAdd">
                                <ng-container *ngFor="let item of service.requirements_groups">
                                    <option value="{{item.type_host}}">{{item.type_host}} |
                                        {{this.whoHostGroupInCluster(item.type_host)}} / {{item.quantity_max != null ?
                                        item.quantity_max : 'None limit'}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div class="input-group input-group-sm mb-3" *ngIf="service != null">
                            <div class="input-group-prepend col-3">
                                <span class="input-group-text col-12" id="host">Host</span>
                            </div>
                            <select class="custom-select form-control" id="host" [formControl]="hostTargetAdd">
                                <ng-container *ngFor="let item of hosts">
                                    <option value="{{item.username}}|{{item.hostname}}">
                                        {{item.username}}@{{item.hostname}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-primary mb-3" (click)="addHostToCluster()">Add</button>
                            </div>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-primary mb-3" (click)="saveHostInCluster()">Applay</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="editConfig">
                        <ng-container *ngFor="let item of configs">
                            <tr>
                                <td>{{item.filename }}</td>
                                <button class="btn btn-info" (click)="openConfig(item)">Open</button>
                            </tr>
                        </ng-container>
                    </div>
                    <div *ngIf="runaction">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend col-3">
                                <span class="input-group-text col-12" id="selectService">Select service</span>
                            </div>
                            <select class="custom-select form-control" id="selectService"
                                [formControl]="selectServiceInClusterObject">
                                <ng-container *ngFor="let item of clusterObject.data">
                                    <option value="{{item.name}}">{{item.name}}</option>
                                </ng-container>
                            </select>
                        </div>

                        <ng-container *ngFor="let service of this.getVarService()">
                            <h1>{{service.extid}}</h1>
                            <ng-container *ngFor="let description of this.getServiceDescriptioOnExtId(service.extid)">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend col-3">
                                        <span class="input-group-text col-12"
                                            id={{description.nameDescription}}>{{description.nameDescription}}</span>
                                    </div>
                                    <input type="text" name={{description.nameDescription}} aria-label="Small"
                                        class="form-control" [formControl]="description.formControll" />
                                </div>

                            </ng-container>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-success mb-3" (click)="runAction(service.extid)">Run</button>
                                </div>
                            </div>
                        </ng-container>

                    </div>
                    <div *ngIf="main">
                        Main, Hello!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<jw-modal id="custom-modal-1">
    <div class="max-w-2xl container mx-auto pt-5">
        <h1>Create cluster</h1>
        <div>
            <div class="input-group mb-3">
                <div class="input-group-prepend col-3">
                    <span class="input-group-text col-12" id="nameCluster">Name cluster</span>
                </div>
                <input type="text" name="nameCluster" aria-label="Small" class="form-control"
                    aria-describedby="nameCluster" [formControl]="name" />
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend col-3">
                    <span class="input-group-text col-12" id="decriptionCluster">Decription cluster</span>
                </div>
                <input type="text" name="decriptionCluster" aria-label="Small" class="form-control"
                    aria-describedby="decriptionCluster" [formControl]="description" />
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend col-3">
                    <span class="input-group-text col-12" id="initFile">Initfile for instal cluster</span>
                </div>
                <select class="custom-select form-control" id="initFile" [formControl]="initfile">
                    <ng-container *ngFor="let item of initfiles">
                        <option value="{{item.name}}|{{item.version}}">{{item.name}}|{{item.version}}</option>
                    </ng-container>
                </select>
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-primary mb-3" (click)="createCluseter()">Create</button>
                </div>
            </div>
            <button class="btn btn-secondary" (click)="closeModal('custom-modal-1');">Close</button>
        </div>

    </div>
</jw-modal>

<jw-modal id="custom-modal-editconfig">
    <div class="max-w-2xl container mx-auto pt-5">
        <h1>Create cluster</h1>
        <div>
            <div class="input-group mb-3">
                <div class="input-group-prepend col-3">
                    <span class="input-group-text col-12" id="currentConfig">Name config</span>
                </div>
                <input type="text" name="currentConfig" aria-label="Small" class="form-control"
                    aria-describedby="currentConfig" [formControl]="currentConfig" [contentEditable]="false" />
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend col-3">
                    <span class="input-group-text col-12" id="currentConfigContent">Content</span>
                </div>
                <textarea name="currentConfigContent" aria-label="Small" class="form-control"
                    aria-describedby="currentConfigContent" [formControl]="currentConfigContent"></textarea>
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-primary mb-3" (click)="updateConfig()">Update</button>
                </div>
            </div>
            <button class="btn btn-secondary" (click)="closeModal('custom-modal-editconfig');">Close</button>
        </div>

    </div>
</jw-modal>