<h1 style="text-align: center;">PackageConfig</h1>

<div class="container-fluid">

  <button class="btn btn-info" (click)="openModal('custom-modal-1')"><i class="bi bi-plus-circle"></i> Add</button>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Namefile</th>
        <th scope="col">Version</th>
        <th scope="col">License</th>
        <th scope="col">Open</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of initfiles">
        <tr>
          <td>{{item.name }}</td>
          <td>{{item.namefile}}</td>
          <td>{{item.version}} </td>
          <td>
            <a (click)="openLicenseText(item)" style="cursor: pointer;" class="link icon-success" ><i class="bi" [ngClass]="{'bi-eye icon-success': item.license, 'bi-exclamation icon-error': !item.license}" style="font-size: 30px"></i>
            </a>
          </td>
          <td>
            <button class="btn btn-outline-info m-1" (click)="createYourWwn(item.name, item.version)">
              <i class="bi bi-gear"></i>
              </button>
            
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteInitFile(item.name, item.version)">
              <i class="bi bi-trash"></i>
              </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>



<jw-modal id="custom-modal-1">
  <div class="max-w-2xl container mx-auto pt-5">
    <h1>Add PackageConfig</h1>
    <div>

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="nameInitFile">Name</span>
        </div>
        <input type="text" name="nameInitFile" aria-label="Small" aria-describedby="nameInitFile"
          (keyup)="updateNameUser($event)" />
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Upload</span>
        </div>
        <div class="input-group-prepend">
          <label for="inputGroupFile" class="form-control">{{ namefile ? namefile : 'Choose file'}}</label>
        </div>
        <div class="custom-file">
          <input type="file" class="file-input" (change)="handleFileInput($event)" id="inputGroupFile">
          <label for="inputGroupFile" type="text" name="nameInitFile" aria-label="Small" disabled="true"></label>
        </div>
      </div>

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-info" (click)="sendInitFile()">Send</button> <BR>
        </div>
      </div>

    </div>

    <button class="btn btn-secondary" (click)="closeModal('custom-modal-1');">Close</button> <BR>

  </div>
</jw-modal>


<jw-modal id="custom-modal-2">
  <div class="max-w-2xl container mx-auto pt-5" *ngIf="currentItemInitFile != null">
    <h1>License</h1>
    <h2>{{currentItemInitFile.name}}{{currentItemInitFile.version}}</h2>
    <div class="input-group input-group-sm mb-3" style="height: 600px; overflow: scroll;">
      <p style="white-space: pre-wrap">{{currentItemInitFile.license_text}}</p>
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-primary" (click)="acceptLicense()" [disabled]="currentItemInitFile.license">I
          accept</button>
      </div>
    </div>


    <button class="btn btn-secondary" (click)="closeModal('custom-modal-2');">Close</button> <BR>

  </div>
</jw-modal>