<div class=" border  container-fluid">
    <div class="row md-2">
        <div class="col-md-3" style="height: 1200px; overflow: scroll;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Extid action</th>
                        <th scope="col">Date Start</th>
                        <th scope="col">Open</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of procLogs">
                        <tr class="{{item.is_complite && item.code_return == 0 ? 'table-primary' : (item.code_return != null ? 'table-danger' : '')}}">
                        <!-- <tr ng-class="{item.is_complite ? 'table-primary' : 'table-secondary'}"> -->
                            <td>{{item.id }}</td>
                            <td>{{item.extid_action}}</td>
                            <td>{{item.date_start}}</td>
                            <td>
                                <button class="btn btn-info" (click)="openProcLog(item.id)"><i class="bi bi-eye-fill"></i></button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div class="col">
            <div *ngIf="procLogCurrent != null" class="row" >
                <h2>Id: {{procLogCurrent.id}}</h2>
                <h2>Date start: {{procLogCurrent.date_start}}</h2>
                <p>Action extid: {{procLogCurrent.extid_action}}</p>
                <span style="white-space: normal">Command: {{procLogCurrent.command}}</span>
                <p>Is complite: {{procLogCurrent.is_complite}}</p>
                <p>Code return {{procLogCurrent.code_return}}</p>
                <div class="col" style="height: 600px; overflow: scroll;">
                    <p style="white-space: pre-wrap">{{procLogCurrent.stdout}}</p>
                </div>
                <button class="btn btn-info" (click)="openProcLog(procLogCurrent.id)">Update</button>

            </div>
        </div>
    </div>
</div>