<div class="container-fluid">

  <button class="btn btn-info" (click)="openModal('custom-modal-1')">Add host</button>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Hostname</th>
        <th scope="col">Username</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of hosts">
        <tr>
          <td>{{item.hostname }}</td>
          <td>{{item.username}}</td>
          <td>
            <button class="btn btn-info" (click)="openHost(item)">Edit</button>
            <button class="btn btn-danger" (click)="deleteHost(item)">Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

</div>

<jw-modal id="custom-modal-1">
  <div class="max-w-2xl container mx-auto pt-5">
    <h1>Host add</h1>
    <div>
      <div [formGroup]="hostControl">

        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="nameInitFile">Hostname</span>
          </div>
          <input type="text" name="nameInitFile" aria-label="Small" aria-describedby="nameInitFile"
            formControlName="hostname" />
        </div>

        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="Username">Username</span>
          </div>
          <input type="text" name="Username" aria-label="Small" aria-describedby="Username"
            formControlName="username" />
        </div>
  
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="Password">Password</span>
          </div>
          <input type="text" name="Password" aria-label="Small" aria-describedby="Password"
            formControlName="password" />
        </div>
  
        <div class="md-form mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="PrivateKey">Private key</span>
          </div>
          <textarea type="text" name="PrivateKey" aria-label="Small" class="md-textarea form-control" aria-describedby="Password"
            formControlName="private_key" ></textarea>
        </div>
  
  
      </div>

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-info" (click)="addHost()" [disabled]="!hostControl.valid">Add host</button> <BR>
        </div>
      </div>

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-info" (click)="testConnection(hostControl.value)" [disabled]="!hostControl.valid">Test connection</button> <BR>
        </div>
      </div>

    </div>

    <button class="btn btn-secondary" (click)="closeModal('custom-modal-1');">Close</button> <BR>

  </div>
</jw-modal>

<jw-modal id="custom-modal-2">
  <div class="container mx-auto pt-5">
    <h1>Host view</h1>
    <div [formGroup]="hostViewControl">

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="nameInitFile">Hostname</span>
        </div>
        <input type="text" name="nameInitFile" aria-label="Small" aria-describedby="nameInitFile"
          formControlName="hostname" [readOnly]="true" />
      </div>

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="Username">Username</span>
        </div>
        <input type="text" name="Username" aria-label="Small" aria-describedby="Username"
          formControlName="username" [readOnly]="true" />
      </div>

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="Password">Password</span>
        </div>
        <input type="text" name="Password" aria-label="Small" aria-describedby="Password"
          formControlName="password" [readOnly]="true" />
      </div>

      <div class="md-form mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="PrivateKey">Private key</span>
        </div>
        <textarea type="text" name="PrivateKey" aria-label="Small" class="md-textarea form-control" aria-describedby="Password"
          formControlName="private_key" [readOnly]="true"></textarea>
      </div>


      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <button class="btn btn-info" (click)="testConnection(hostViewControl.value)" [disabled]="!hostViewControl.valid">Test connection</button> <BR>
        </div>
      </div>

    </div>

    <button class="btn btn-secondary" (click)="closeModal('custom-modal-2');">Close</button> <BR>

  </div>
</jw-modal>